
        main.container-fluid {
          padding-left: 0;
          padding-right: 0;
        }

        .spacer {
          height: 40vh;
        }

        .rectangle {
          position: absolute;
          width: 97vw;
          height: 30vw;
          border-radius: 10px;
          background: linear-gradient(45deg, #69b7bf 25%, #ffe664);
        }

        @media (min-width: 500px) {
          .rectangle {
            width: 80%;
          }
        }

        .section > .row > .col {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          z-index: 10;
        }

        #intro .col {
          height: 50vh;
          padding: 9vw 6vw;
          font-size: 18px;
        }

        @media (min-width: 1000px) {
          #intro .col {
            padding: 18vw 12vw;
            font-size: 2.7vw;
          }
        }

        #one {
          background-color: #212121;
        }

        #one .elem {
          opacity: 0;
          letter-spacing: 0.04em;
        }

        #one .text-block h2 {
          font-size: 5vw;
          letter-spacing: 0.2em;
          font-weight: 300;
          line-height: 1;
        }

        #one .text-block h5 {
          font-size: 4vw;
          line-height: 1;
        }

        #one .elem .blocks {
          display: flex;
          justify-content: space-between;
          align-content: center;
          align-items: center;
        }

        #one .elem .blocks > div {
          height: 20px;
          width: 20px;
          margin: 2px;
          border-radius: 2px;
          background-color: #333;
        }

        #two {
          height: auto;
          overflow: hidden;
          padding: 3vw 15vw 10vw;
          background: linear-gradient(0deg, #69b7bf 25%, #ffe664);
        }

        #three, #four {
          position: relative;
          overflow: hidden;
        }

        #three .image, #four .image {
          position: absolute;
          top: 0;
          bottom:0;
          width: 100%;
        }

        #three .image {
          background-image: url("https://drive.google.com/uc?export=view&id=10tzeBrvoR5OO3EK_Wcg-gRxbVO7xv6em");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        #four .image {
          background-image: url("https://drive.google.com/uc?export=view&id=1SzCTDu5_eAF569lFHtNyIlUCrdW2mOXu");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        /*POP UPs*/
        .ReadPopUp {
          position: absolute;
          display: none;
          overflow: auto;
          z-index: 1000;
          -ms-flex-line-pack: center;
              align-content: center;
          background-color: #f1f1f1;
          color: #111;
          padding: 2vw;
          left: 10%;
          width: 80%;
          height: 80vh;
          border: 2px solid #f1f1f1;
        }

        .Read1, .Read2{
          top: calc(0+60vh);
        }
        .Read3, .Read4{
          top: 20%
        }

        .readBtnIcon{
          position: relative;
          color: #f97233;
        }
        .readBtnIcon:after {
          content: "";
          color: #c4f933;
          position: absolute;
          -webkit-transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
          transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
        }
        .readBtnIcon:hover{
          content: "";
          color: #e54d07;
          -webkit-transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
          transition: all 0.9s cubic-bezier(0.5, -0.5, 0.5, 1.5);
          margin-left: 0.5em;
        }
        .readBtn{
          font-size: 0.9em;
          position: relative;
          color: #f97233;
          background-color: #fff;
          border: 0px dotted #fff;
          padding: 0 0 0.3vw 0;
          /*color: #f97233;
          border-style: outset;
          border: 0px dotted blue;
          border-radius: 5px;
        */
        }

      .readBtn:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 1rem;
        width: 3.6rem;
        height: 0.2rem;
        margin-left: -0.6em;
        background-color: #fa9160;
        -webkit-transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
        transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
      }
      .readBtn:hover {
        color: #e54d07;
        margin-right: 0.5em;
        -webkit-transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
        transition: all 0.25s cubic-bezier(0.5, -0.5, 0.5, 1.5);
      }

      .readBtn:hover:after {
        width: calc(100% - 2 * 1rem);
        background-color: #f97233;
      }

      .gradHow{
        position: absolute;
        top:auto;
        margin: auto;
        min-width: 100vw;
        min-height: 90vh;
        max-height: 90vh;
        background: rgb(0,0,0);
        background: linear-gradient(55deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 90%);
        -webkit-transition: background-color 1s;
                  transition: background-color 1s;      
      }
      .gradHow2{
        position: absolute;
        top:auto;
        margin: auto;
        min-width: 100vw;
        min-height: 90vh;
        max-height: 90vh;
        background: rgb(0,0,0);
        /*background: linear-gradient(125deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0.9) 90%);*/
        background: linear-gradient(125deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0) 100%);
        -webkit-transition: background-color 1s;
                  transition: background-color 1s;      
      }

      .gradHowTitle{
        margin-left:6vw;
        padding: 25vh 4em;
        align-content: center;
      }
      .gradHowTitle2{
        margin-right:7vw;
        padding: 25vh 4em;
        float:right;
        align-content: center;
      }
      .tab-content > .tab-paned {
        display: none;
      }
      .tab-content > .actived {
        display: block;
      }

      .fader{transition:opacity .15s linear}
        @media (prefers-reduced-motion:reduce)
            {
              .fader{transition:none}
            }

